<!DOCTYPE html>
<html lang="en">

<head>
{{> header}}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    {{> preloader}}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {{> topbarpsikolog}}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{> navbarpsikolog}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Assessment</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Assessment</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                {{!-- Start of Notifikasi --}}
                {{!-- {{#if sessionFlash.message}}
                    <div class="alert alert-danger"> 
                        {{sessionFlash.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{#if sessionFlash2.message}}
                    <div class="alert alert-success"> 
                        {{sessionFlash2.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}} --}}
                {{!-- End of Notifikasi --}}
                {{!-- start of row --}}
                
                {{!-- start of row --}}
                <div class="row">
                    <div class="col-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Assessment</h4>
                            </div>
                            <div class="card-block">
                                {{!-- Start of tabel list acara --}}
                                <h4 class="card-title">List Jawaban Assessment</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="listassessmentpsikolog" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="text-center">No.</th>
                                                <th class="text-center">Nama Peserta</th>
                                                <th class="text-center">Pertanyaan 1</th>
                                                <th class="text-center">Pertanyaan 2</th>
                                                <th class="text-center">Pertanyaan 3</th>
                                                <th class="text-center">Pertanyaan 4</th>
                                                <th class="text-center">Pertanyaan 5</th>
                                                <th class="text-center">Aksi</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="text-center">No.</th>
                                                <th class="text-center">Nama Peserta</th>
                                                <th class="text-center">Pertanyaan 1</th>
                                                <th class="text-center">Pertanyaan 2</th>
                                                <th class="text-center">Pertanyaan 3</th>
                                                <th class="text-center">Pertanyaan 4</th>
                                                <th class="text-center">Pertanyaan 5</th>
                                                <th class="text-center">Aksi</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>Nama 1</td>
                                                    <td>Jawaban 1</td>
                                                    <td>Jawaban 2</td>
                                                    <td>Jawaban 3</td>
                                                    <td>Jawaban 4</td>
                                                    <td>Jawaban 5</td>
                                                    <td class="text-center">
                                                        <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn edit" data-toggle="tooltip" data-original-title="Video Call" ><i class="fa fa-video-camera" aria-hidden="true"></i></button></a>
                                                        
                                                        <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn kesimpulan" data-toggle="tooltip" data-original-title="Kesimpulan" data-id="1" nama="peserta-1"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Nama 2</td>
                                                    <td>Jawaban 1</td>
                                                    <td>Jawaban 2</td>
                                                    <td>Jawaban 3</td>
                                                    <td>Jawaban 4</td>
                                                    <td>Jawaban 5</td>
                                                    <td class="text-center">
                                                        <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn edit" data-toggle="tooltip" data-original-title="Video Call" ><i class="fa fa-video-camera" aria-hidden="true"></i></button></a>
                                                        
                                                        <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn delete" data-toggle="tooltip" data-original-title="Kesimpulan"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Nama 3</td>
                                                    <td>Jawaban 1</td>
                                                    <td>Jawaban 2</td>
                                                    <td>Jawaban 3</td>
                                                    <td>Jawaban 4</td>
                                                    <td>Jawaban 5</td>
                                                    <td class="text-center">
                                                        <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn edit" data-toggle="tooltip" data-original-title="Video Call" ><i class="fa fa-video-camera" aria-hidden="true"></i></button></a>
                                                        
                                                        <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn delete" data-toggle="tooltip" data-original-title="Kesimpulan"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Nama 4</td>
                                                    <td>Jawaban 1</td>
                                                    <td>Jawaban 2</td>
                                                    <td>Jawaban 3</td>
                                                    <td>Jawaban 4</td>
                                                    <td>Jawaban 5</td>
                                                    <td class="text-center">
                                                        <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn edit" data-toggle="tooltip" data-original-title="Video Call" ><i class="fa fa-video-camera" aria-hidden="true"></i></button></a>
                                                        
                                                        <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn delete" data-toggle="tooltip" data-original-title="Kesimpulan"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>Nama 5</td>
                                                    <td>Jawaban 1</td>
                                                    <td>Jawaban 2</td>
                                                    <td>Jawaban 3</td>
                                                    <td>Jawaban 4</td>
                                                    <td>Jawaban 5</td>
                                                    <td class="text-center">
                                                        <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn edit" data-toggle="tooltip" data-original-title="Video Call" ><i class="fa fa-video-camera" aria-hidden="true"></i></button></a>
                                                        
                                                        <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn delete" data-toggle="tooltip" data-original-title="Kesimpulan"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>Nama 6</td>
                                                    <td>Jawaban 1</td>
                                                    <td>Jawaban 2</td>
                                                    <td>Jawaban 3</td>
                                                    <td>Jawaban 4</td>
                                                    <td>Jawaban 5</td>
                                                    <td class="text-center">
                                                        <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn edit" data-toggle="tooltip" data-original-title="Video Call" ><i class="fa fa-video-camera" aria-hidden="true"></i></button></a>
                                                        
                                                        <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn delete" data-toggle="tooltip" data-original-title="Kesimpulan"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td>Nama 7</td>
                                                    <td>Jawaban 1</td>
                                                    <td>Jawaban 2</td>
                                                    <td>Jawaban 3</td>
                                                    <td>Jawaban 4</td>
                                                    <td>Jawaban 5</td>
                                                    <td class="text-center">
                                                        <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn edit" data-toggle="tooltip" data-original-title="Video Call" ><i class="fa fa-video-camera" aria-hidden="true"></i></button></a>
                                                        
                                                        <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn delete" data-toggle="tooltip" data-original-title="Kesimpulan"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                                    </td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list acara --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- end of row --}}
                {{!-- start of modal update konsul --}}
                <form action="" method="post">
                    <div class="modal fade" id="modalKesimpulan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel1">Kesimpulan</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="modalnamakonsul" class="control-label">Kesimpulan:</label>
                                        <textarea class="form-control" id="keteranganacara" name="keteranganacara" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-warning" data-dismiss="modal">Batal</button>
                                    <button type="submit" class="btn btn-success">Ubah</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- end of modal update konsul -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {{> footer}}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {{> plugins}}
    <script src="/js/client/modal/assessmentpsikolog.js"></script>
</body>

</html>
