<!DOCTYPE html>
<html lang="en">

<head>
{{> header}}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    {{> preloader}}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {{> topbar}}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{> navbaruser}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row el-element-overlay">
                    <div class="col-md-12">
                        <h4 class="card-title">Psikolog Kami</h4>
                        <h6 class="card-subtitle m-b-20 text-muted">Dapatkan penjelasan yang akurat melalui psikolog kami</h6> </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1"> <img src="/images/users/uyun.jpeg" alt="user" />
                                    <div class="el-overlay">
                                        {{!-- <ul class="el-info">
                                            <li><a class="btn default btn-outline image-popup-vertical-fit" href="/plugins/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
                                            <li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
                                        </ul> --}}
                                        <ul class="el-info">
                                            <li><p class="">Sudah melayani:<br> 10 layanan psikologi</p></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="el-card-content">
                                    <small class="text-success">Online</small> <br>
                                    <h3 class="box-title">Dr. Muhammad Uyun</h3>
                                    <small>PT. xyz</small> <br>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <br/> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1"> <img src="/images/users/monalisa.jpeg" alt="user" />
                                    <div class="el-overlay">
                                        <ul class="el-info">
                                            <li><p class="">Sudah melayani:<br> 15 layanan psikologi</p></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="el-card-content">
                                    <small class="text-muted">Offline</small>
                                    <h3 class="box-title">Monalisa Sukvadewi, M.Psi., Psikolog</h3> 
                                    <small>Psikolog Optimal Psychology dan Educational Center</small> <br>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <br/> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1"> <img src="/images/users/mulia.jpeg" alt="user" />
                                    <div class="el-overlay">
                                        <ul class="el-info">
                                            <li><p class="">Sudah melayani:<br> 3 layanan psikologi</p></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="el-card-content">
                                    <small class="text-muted">Offline</small>
                                    <h3 class="box-title">Mulia Marita Lasutri Tama., M.Psi., Psikolog</h3> 
                                    <small>Psikolog Optimal Psychology dan Educational Center</small> <br>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <br/> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="el-card-item">
                                <div class="el-card-avatar el-overlay-1"> <img src="/images/users/reza.jpeg" alt="user" />
                                    <div class="el-overlay">
                                        <ul class="el-info">
                                            <li><p class="">Sudah melayani:<br> 10 layanan psikologi</p></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="el-card-content">
                                    <small class="text-muted">Offline</small>
                                    <h3 class="box-title">Reza Fahlevi, S.K.M., M.M., M.Psi., Psikolog</h3> 
                                    <small>Jiwakoe Consulting</small> <br>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <br/> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {{> footer}}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {{> plugins}}
</body>

</html>
